.poi-form {
	padding-top: 40px;
	width: 400px;
	position: relative;
}

.poi-form > input, .poi-form > textarea {
	display: block;
	width: 100%;
}

.poi-form > textarea {
	height: 300px;
}

ul.icons li {
	float: right;
}

ul.icons li {
	list-style-type: none;
}

ul.icons li > * {
	height: 40px;
	width: 40px;
}

.icon-preview {
	border: none;
	position: absolute;
	top: 0;
	height: 40px;
	width: 40px;
}

.abbaye {
	-webkit-filter: invert(100%) brightness(50%) sepia(100%)
		saturate(400%) hue-rotate(120deg) drop-shadow(0 0 3px black);
}

.mer {
	-webkit-filter: invert(100%) brightness(50%) sepia(100%)
		saturate(400%) hue-rotate(140deg) drop-shadow(0 0 3px black);
}

.cite {
	-webkit-filter: invert(100%) brightness(50%) sepia(100%)
		saturate(400%) hue-rotate(20deg) drop-shadow(0 0 3px black);
}

.eglise {
	-webkit-filter: invert(100%) brightness(50%) sepia(100%)
		saturate(400%) hue-rotate(00deg) drop-shadow(0 0 3px black);
}

.chateau, .ruines {
	-webkit-filter: invert(100%) brightness(50%) sepia(100%)
		saturate(400%) hue-rotate(360deg) drop-shadow(0 0 3px black);
}

.industriel {
	-webkit-filter: invert(100%) brightness(50%) sepia(100%)
		saturate(400%) hue-rotate(320deg) drop-shadow(0 0 3px black);
}

.jardin, .foret {
	-webkit-filter: invert(100%) brightness(50%) sepia(100%)
		saturate(400%) hue-rotate(70deg) drop-shadow(0 0 3px black);
}

.og-preview {
	max-width: 100%;
	max-height: 200px;
	display: block;
}

